{% for collec in collectivites %}
<div class="d-flex offre offre-collectivites">
    <a href="#" class="text-decoration-none">
        <div class="card bg-snow-gray border-0 h-100 w-100">
            <div class="card-header d-flex flex-column justify-content-center align-items-center bg-lagoon text-light">
                <span class="fs-4 fw-bold">Adhésion {{collec.type}}</span>
                <small class="fs-6">({{collec.label}})</small>
            </div>
            <div class="card-body">
                <p class="card-title d-flex justify-content-center fs-4 text-lagoon">{{collec.price}}</p>
                <p class="card-text">
                <ul class="d-flex flex-column gap-2">
                    {% for carac in caracteristiquesCollectivites %}
                    <li><strong>{{carac.name}}</strong> : {{carac.desc}}</li>
                    {% endfor %}
                </ul>
                </p>
                {% for option in collec.options %}
                <div class="divider"></div>
                <p class="card-text">
                <div class="d-flex ms-2">
                    <strong class="me-2">Option {{option.name}} :</strong> <span class="text-lagoon card-title">{{option.price}}</span>
                </div>
                <ul class="d-flex flex-column">
                    {% for optionCarac in option.caracteristiques %}
                    <li>{{optionCarac}}</li>
                    {% endfor %}
                </ul>
                </p>
                {% endfor %}
            </div>
        </div>
    </a>
</div>
{% endfor %}