{% for post in postslist offset: offsetNb limit: 3 %}
  <div class="card bg-snow-gray mb-3">
    <img
      src="{{ post.data.image_url | url }}"
      class="rounded card-img-top p-3"
      alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ post.data.title }}</h5>
      <p class="card-text">{{ post.data.description }}</p>
      <div class="d-flex justify-content-between">
        <p>
          <small>Posté le {{ post.date | date: "%b %d, %y" }}</small>
        </p>
        <a href="{{ post.url | url }}" class="btn btn-lagoon border-0 text-light">En voir plus</a>
      </div>
    </div>
  </div>
{% endfor %}